/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */


/* Calc mixin */
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
/* Grid Definition */
$columns: 12;
$gutter: 2%;
$container-width: 1170px;
/* -webkit-calc */
@function webkit-grid-width($cols, $has-gutter:false) {
  @if $has-gutter {
    @return -webkit-calc((((100% + #{$gutter}) / #{$columns}) * #{$cols}) - #{$gutter});
  }
  @else {
    @return -webkit-calc((100% / #{$columns}) * #{$cols});
  }
}
/* -moz-calc */
@function moz-grid-width($cols, $has-gutter:false) {
  @if $has-gutter {
   @return -moz-calc((((100% + #{$gutter}) / #{$columns}) * #{$cols}) - #{$gutter});
  }
  @else {
    @return -moz-calc((100% / #{$columns}) * #{$cols});
  }
}
@function grid-width($cols, $has-gutter:false) {
  @if $has-gutter {
    @return calc((((100% + #{$gutter}) / #{$columns}) * #{$cols}) - #{$gutter});
  }
  @else {
    @return calc((100% / #{$columns}) * #{$cols});
  }
}


/* #Base 960 Grid
================================================== */

.container {
  position: relative;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0;
}
.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 1.6%;
  margin-right: 1.6%;
}
.row {
  /* remove gutter from 1st and last child */
  >:first-child[class*='col-'] {
    margin-left: 0;
  }
  >:last-child[class*='col-'] {
    margin-right: 0;
  }
}

/* Nested Column Classes */
.nest-alpha {
  margin-left: 0;
}
.nest-omega {
  margin-right: 0;
}

/* Base Grid */
.col-1 {
  width: webkit-grid-width(1);
  width: moz-grid-width(1);
  width: grid-width(1);
}
.col-2 {
  width: webkit-grid-width(2);
  width: moz-grid-width(2);
  width: grid-width(2);
}
.col-3 {
  width: webkit-grid-width(3);
  width: moz-grid-width(3);
  width: grid-width(3);
}
.col-4 {
  width: webkit-grid-width(4);
  width: moz-grid-width(4);
  width: grid-width(4);
}
.col-5 {
  width: webkit-grid-width(5);
  width: moz-grid-width(5);
  width: grid-width(5);
}
.col-6 {
  width: webkit-grid-width(6);
  width: moz-grid-width(6);
  width: grid-width(6);
}
.col-7 {
  width: webkit-grid-width(7);
  width: moz-grid-width(7);
  width: grid-width(7);
}
.col-8 {
  width: webkit-grid-width(8);
  width: moz-grid-width(8);
  width: grid-width(8);
}
.col-9 {
  width: webkit-grid-width(9);
  width: moz-grid-width(9);
  width: grid-width(9);
}
.col-10 {
  width: webkit-grid-width(10);
  width: moz-grid-width(10);
  width: grid-width(10);
}
.col-11 {
  width: webkit-grid-width(11);
  width: moz-grid-width(11);
  width: grid-width(11);
}
.col-12 {
  width: webkit-grid-width(12);
  width: moz-grid-width(12);
  width: grid-width(12);
}
/* with gutter */
.col-1-g {
  width: webkit-grid-width(1,true);
  width: moz-grid-width(1,true);
  width: grid-width(1,true);
}
.col-2-g {
  width: webkit-grid-width(2,true);
  width: moz-grid-width(2,true);
  width: grid-width(2,true);
}
.col-3-g {
  width: webkit-grid-width(3,true);
  width: moz-grid-width(3,true);
  width: grid-width(3,true);
}
.col-4-g {
  width: webkit-grid-width(4,true);
  width: moz-grid-width(4,true);
  width: grid-width(4,true);
}
.col-5-g {
  width: webkit-grid-width(5,true);
  width: moz-grid-width(5,true);
  width: grid-width(5,true);
}
.col-6-g {
  width: webkit-grid-width(6,true);
  width: moz-grid-width(6,true);
  width: grid-width(6,true);
}
.col-7-g {
  width: webkit-grid-width(7,true);
  width: moz-grid-width(7,true);
  width: grid-width(7,true);
}
.col-8-g {
  width: webkit-grid-width(8,true);
  width: moz-grid-width(8,true);
  width: grid-width(8,true);
}
.col-9-g {
  width: webkit-grid-width(9,true);
  width: moz-grid-width(9,true);
  width: grid-width(9,true);
}
.col-10-g {
  width: webkit-grid-width(10,true);
  width: moz-grid-width(10,true);
  width: grid-width(10,true);
}
.col-11-g {
  width: webkit-grid-width(11,true);
  width: moz-grid-width(11,true);
  width: grid-width(11,true);
}
.col-12-g {
  width: webkit-grid-width(12,true);
  width: moz-grid-width(12,true);
  width: grid-width(12,true);
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  display: inline;
  @include box-sizing(border-box);
  @include border-radius(4);
  margin-bottom: $gutter;
  margin-top: $gutter;
}
.col-1-g,
.col-2-g,
.col-3-g,
.col-4-g,
.col-5-g,
.col-6-g,
.col-7-g,
.col-8-g,
.col-9-g,
.col-10-g,
.col-11-g,
.col-12-g {
  float: left;
  display: inline;
  @include calc(margin-right, $gutter / 2);
  @include calc(margin-left, $gutter / 2);
  padding: 1em;
  /* background: rgba(255,255,255,.3); */
  @include border-radius(4);
  margin-bottom: $gutter;
  margin-top: $gutter;
  border: 1px solid;
  @include box-sizing(border-box);
}

/* Offsets */
/* .off-1 { margin-left: webkit-grid-width(1,true); }
.off-2 { margin-left: webkit-grid-width(2,true); }
.off-3 { margin-left: webkit-grid-width(3,true); }
.off-4 { margin-left: webkit-grid-width(4,true); }
.off-5 { margin-left: webkit-grid-width(5,true); }
.off-6 { margin-left: webkit-grid-width(6,true); }
.off-7 { margin-left: webkit-grid-width(7,true); }
.off-8 { margin-left: webkit-grid-width(8,true); }
.off-9 { margin-left: webkit-grid-width(9,true); }
.off-10 { margin-left: webkit-grid-width(10,true); }
.off-11 { margin-left: webkit-grid-width(11,true); }
.off-12 { margin-left: webkit-grid-width(12,true); }
 */


/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* .container                                  { width: 768px; }
  .container .column,
  .container .columns                         { margin-left: 10px; margin-right: 10px;  }
  .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
  .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
  .alpha.omega                                { margin-left: 0; margin-right: 0; }

  .container .one.column,
  .container .one.columns                     { width: 28px; }
  .container .two.columns                     { width: 76px; }
  .container .three.columns                   { width: 124px; }
  .container .four.columns                    { width: 172px; }
  .container .five.columns                    { width: 220px; }
  .container .six.columns                     { width: 268px; }
  .container .seven.columns                   { width: 316px; }
  .container .eight.columns                   { width: 364px; }
  .container .nine.columns                    { width: 412px; }
  .container .ten.columns                     { width: 460px; }
  .container .eleven.columns                  { width: 508px; }
  .container .twelve.columns                  { width: 556px; }
  .container .thirteen.columns                { width: 604px; }
  .container .fourteen.columns                { width: 652px; }
  .container .fifteen.columns                 { width: 700px; }
  .container .sixteen.columns                 { width: 748px; }

  .container .one-third.column                { width: 236px; }
  .container .two-thirds.column               { width: 492px; }

  /* Offsets */
  /*
  .container .offset-by-one                   { padding-left: 48px; }
  .container .offset-by-two                   { padding-left: 96px; }
  .container .offset-by-three                 { padding-left: 144px; }
  .container .offset-by-four                  { padding-left: 192px; }
  .container .offset-by-five                  { padding-left: 240px; }
  .container .offset-by-six                   { padding-left: 288px; }
  .container .offset-by-seven                 { padding-left: 336px; }
  .container .offset-by-eight                 { padding-left: 384px; }
  .container .offset-by-nine                  { padding-left: 432px; }
  .container .offset-by-ten                   { padding-left: 480px; }
  .container .offset-by-eleven                { padding-left: 528px; }
  .container .offset-by-twelve                { padding-left: 576px; }
  .container .offset-by-thirteen              { padding-left: 624px; }
  .container .offset-by-fourteen              { padding-left: 672px; }
  .container .offset-by-fifteen               { padding-left: 720px; } */
}


/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  /* .container { width: 300px; } */
  .col-1-g,
  .col-2-g,
  .col-3-g,
  .col-4-g,
  .col-5-g,
  .col-6-g,
  .col-7-g,
  .col-8-g,
  .col-9-g,
  .col-10-g,
  .col-11-g,
  .col-12-g,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: webkit-grid-width(12,true);
    width: moz-grid-width(12,true);
    width: grid-width(12,true);
  }

  /* Offsets */
  /* .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen { padding-left: 0; } */
}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

/* @media only screen and (min-width: 480px) and (max-width: 767px) {
  .container { width: 420px; }
  .container .columns,
  .container .column { margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column { width: 420px; }
} */


/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
      .row:after,
      .clearfix:after {
        clear: both; }
        .row,
        .clearfix {
          zoom: 1; }

          /* You can also use a <br class="clear" /> to clear columns */
          .clear {
            clear: both;
            display: block;
            overflow: hidden;
            visibility: hidden;
            width: 0;
            height: 0;
          }