.portfolio-block {
  position: relative;
  visibility: visible;
  .portfolio-image-block__link {
  display: block;
  line-height: 1;
  }
  .portfolio-content-block {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:hover, &:focus {
      opacity: 1;
    }
    .portfolio-content-block-holder {
      background-color: rgba(0, 0, 0, .75);
      display: table;
      height: 100%;
      width: 100%;
      .portfolio-content-block-text {
        color: #fff;
        display: table-cell;
        height: 100%;
        letter-spacing: 1px;
        margin-top: 40px;
        padding: 15px 30px;
        text-align: center;
        vertical-align: middle;
        .portfolio-content-block-sub-title {
          color: #ccc;
          font-size: 13px;
          font-style: italic;
          font-weight: 400;
          letter-spacing: 1px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          -webkit-transition: all .3s ease-out;
          -moz-transition: all .3s ease-out;
          -ms-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          transition: all .3s ease-out
        }
        .portfolio-content-block-title {
          font-weight: 700;
          letter-spacing: 1px;
          margin-bottom: 10px;
          text-transform: uppercase;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          -webkit-transition: all .3s ease-out;
          -moz-transition: all .3s ease-out;
          -ms-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          transition: all .3s ease-out
        }
      }
    }
  }
}