/* @import "compass/reset"; */

@import "compass/utilities";
@import "compass/utilities/general/hacks";
@import "compass/css3";
@import "compass/css3/images";
$clr-em: #c4dcff;
@import "compass/typography";
@import "grid";
@import "typesettings";
@import "spaces";
@import "variables";
@import "buttons";
@import "portfolio";
$experimental-support-for-svg: true;

hr {
  margin-top:    1.5;
  margin-bottom: 1.5;
  border: 0;
  border-top: 1px solid $gray-light;
}
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: auto;
  background: url(/images/billie-holiday.png), #f2f1ed;
  background-repeat: repeat;
  background-size: 100px 100px;
}
p {
  text-align: justify;
  display: block;
  margin: 0 auto $gutter;
}
.page-wrapper {
  overflow: hidden;
  &.background-home {
    background-image: url(/images/background-jp.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.container {
  max-width: $container-width;
  margin: 0 auto;
}
.splash {
  width: 100%;
  overflow: hidden;
  padding: 2% 0;
}
/* =========== HEADER MENU ============= */
.logo-link {
  color: #fff;
  padding: 18px;
  display: inline-block;
  @include setType(5, $ms-up1);
  font-weight: 300;
  height: 100%;
  border-bottom: 0;
  border-bottom: 1px solid transparent;
  &:hover,&:active {
    border-bottom: 0;
    outline: 0;
    text-decoration: none;
  }
}
.header-menu {
  ul {
    font-family: $font-sans;
    list-style: none;
    padding: 0;
    display: table;
    margin: 0px;
    width: 100%;
    li {
      float: left;
      text-align: center;
      @include setType(5, $ms-up1);
      a {
        color: #fff;
        font-weight: 300;
        height: 100%;
        display: inline-block;
        padding: 10px;
        margin: 0 auto;
        border-bottom: 1px solid transparent;
        text-transform: uppercase;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        &:hover,&:active {
          color: $brand-red;
          border-bottom: 1px solid $brand-red;
        }
      }
    }
  }
}
/* header presentation styles */
.header {
  padding: 15%;
  color: #fff;
}


/* =========== FOOTER ============= */
footer.footer {
  background-color: $gray-darker;
  * {
    color: #fff;
  }
  a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover,&:active {
      color: $brand-red;
      border-bottom: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
}

/* link styles */
a {
  text-decoration: none;
  color: initial;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:hover,&:active {
    color: $brand-red;
    border-bottom: 1px solid $brand-red;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
img.fit-cover {
  object-fit: cover !important;
}

section {
  width: 100%;
  overflow: hidden;
  float: left;
}

aside {
  float: left;
  background: pink;
}

footer {
  clear: both;
}