/* @import "compass/reset"; */

@import "compass/utilities";
@import "compass/utilities/general/hacks";
@import "compass/css3";
@import "compass/css3/images";
$clr-em: #c4dcff;

$font-sans: 'Source Sans Pro','Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: 'Alegreya', sans-serif;
$font-mono: 'Lucida Console', Monaco, monospace;

// Core variables and mixins
@import "variables";
@import "mixins";
// Reset and dependencies
@import "normalize";
@import "scaffolding";
// Core CSS
@import "grid";
@import "utilities";
@import "spaces";
@import "portfolio";
$experimental-support-for-svg: true;

// settings for Typesettings
$text-color: #333;
$base-vertical-unit: 6px;
$base-line-multi: 4;
$base-font-size: 16px;
$ms-ratio: 1.414;
$paragraph-indent: true;
$paragraph-justify: true;
$load-typesetted: true;

@import "typesettings";

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: auto;
  background: url(/images/billie-holiday.png), #f2f1ed;
  background-repeat: repeat;
  background-size: 100px 100px;
}
.page-wrapper {
  z-index: 1000;
  overflow: hidden;
  &.home-bg {
    background-image: url(/images/background-jp.jpg);
  }
  &.resume-bg {
    background-image: url(/images/code.png);
  }
  &[class*="-bg"] {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.splash {
  width: 100%;
  overflow: hidden;
  padding: 2% 0;
}
/* =========== HEADER MENU ============= */
.logo-link {
  color: #fff;
  padding: 18px;
  display: inline-block;
  font-weight: 300;
  height: 100%;
  border-bottom: 0;
  border-bottom: 1px solid transparent;
  &:hover,&:active {
    border-bottom: 0;
    outline: 0;
    text-decoration: none;
  }
}
.header-menu {
  ul {
    font-family: $font-sans;
    list-style: none;
    padding: 0;
    display: table;
    margin: 0px;
    width: 100%;
    li {
      float: left;
      text-align: center;
      a {
        color: #fff;
        font-weight: 300;
        height: 100%;
        display: inline-block;
        padding: 10px;
        margin: 0 auto;
        border-bottom: 1px solid transparent;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        &:hover,&:active {
          color: $brand-red;
          border-bottom: 1px solid $brand-red;
        }
      }
    }
  }
}
/* header presentation styles */
.header {
  padding: 15%;
  color: #fff;
}


/* =========== FOOTER ============= */
footer.footer {
  background-color: $gray-darker;
  * {
    color: #fff;
  }
  a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover,&:active {
      color: $brand-red;
      border-bottom: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
}

/* link styles */
a {
  text-decoration: none;
  color: initial;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:hover,&:active {
    color: $brand-red;
    border-bottom: 1px solid $brand-red;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
img.fit-cover {
  object-fit: cover !important;
}

section {
  width: 100%;
  overflow: hidden;
  float: left;
}

aside {
  float: left;
  background: pink;
}

footer {
  clear: both;
}