/* @import "compass/reset"; */

@import "compass/utilities";
@import "compass/utilities/general/hacks";
@import "compass/css3";
@import "compass/css3/images";
$clr-em: #C4DCFF;
@import "compass/typography";
@import "grid";
@import "typesettings";
@import "entypo-font";
$experimental-support-for-svg: true;

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: auto;
  background: url(/images/billie-holiday.png), #f2f1ed;
  background-repeat: repeat;
  background-size: 100px 100px;
}
p {
  text-align: justify;
  display: block;
  margin: 0 auto $gutter;
}
.page-wrapper {
  overflow: hidden;
  &.background-home {
    background-image: url(/images/background-jp.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.container {
  max-width: $container-width;
  margin: 0 auto;
}
.splash {
  width: 100%;
  overflow: hidden;
  padding: 2% 0;
}
/* =========== HEADER MENU ============= */
.logo-link {
  color: #fff;
  padding: 18px;
  display: inline-block;
  @include setType(5, $ms-up1);
  font-weight: 300;
  height: 100%;
  border-bottom: 0;
  border-bottom: 1px solid transparent;
  &:hover,&:active {
    border-bottom: 0;
    outline: 0;
    text-decoration: none;
  }
}
.header-menu {
  ul {
    font-family: $font-sans;
    list-style: none;
    padding: 0;
    display: table;
    margin: 0px;
    width: 100%;
    li {
      float: left;
      text-align: center;
      @include setType(5, $ms-up1);
      a {
        color: #fff;
        font-weight: 300;
        height: 100%;
        display: inline-block;
        padding: 10px;
        margin: 0 auto;
        border-bottom: 1px solid #fff;
        text-transform: uppercase;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
        &:hover,&:active {
          color: $clr-em;
          border-bottom: 1px solid $clr-em;
        }
      }
    }
  }
}
/* header presentation styles */
.header {
  padding: 15%;
  color: #fff;
  .presentation {
    h5 {
      font-weight: 300;
      text-align: center;
    }
  }
}

/* =========== SOCIAL LINKS ============= */
.social {
  background-color: #2e2e2e;
  a {
    font-family: 'EntypoSocialRegular';
    &:hover,&:active {
      
    }
  }
}

/* =========== FOOTER ============= */
footer {
  background-color: #1f1f1f;
}

/* link styles */
a {
  text-decoration: none;
  font-weight: 700;
  color: initial;
  @include box-sizing(border-box);
  border-bottom: 1px solid transparent;
  &:hover,:active {
    color: gummi;
    border-bottom: 1px dotted goldenrod;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}


section {
  width: 100%;
  overflow: hidden;
  float: left;
  @include box-sizing(border-box);
}

aside {
  float: left;
  @include box-sizing(border-box);
  background: pink;
}

footer {
  clear: both;
}