@charset "UTF-8";
/* @import "compass/reset"; */
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* Calc mixin */
/* Grid Definition */
/* -webkit-calc */
/* -moz-calc */
/* #Base 960 Grid
================================================== */
/* line 61, ../sass/_grid.scss */
.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

/* line 68, ../sass/_grid.scss */
.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 1.6%;
  margin-right: 1.6%;
}

/* line 74, ../sass/_grid.scss */
.row {
  /* remove gutter from 1st and last child */
}
/* line 76, ../sass/_grid.scss */
.row > :first-child[class*='col-'] {
  margin-left: 0;
}
/* line 79, ../sass/_grid.scss */
.row > :last-child[class*='col-'] {
  margin-right: 0;
}

/* Nested Column Classes */
/* line 85, ../sass/_grid.scss */
.alpha {
  margin-left: 0;
}

/* line 88, ../sass/_grid.scss */
.omega {
  margin-right: 0;
}

/* Base Grid */
/* line 93, ../sass/_grid.scss */
.col-1 {
  width: -webkit-calc((100% / 12) * 1);
  width: -moz-calc((100% / 12) * 1);
  width: calc((100% / 12) * 1);
}

/* line 98, ../sass/_grid.scss */
.col-2 {
  width: -webkit-calc((100% / 12) * 2);
  width: -moz-calc((100% / 12) * 2);
  width: calc((100% / 12) * 2);
}

/* line 103, ../sass/_grid.scss */
.col-3 {
  width: -webkit-calc((100% / 12) * 3);
  width: -moz-calc((100% / 12) * 3);
  width: calc((100% / 12) * 3);
}

/* line 108, ../sass/_grid.scss */
.col-4 {
  width: -webkit-calc((100% / 12) * 4);
  width: -moz-calc((100% / 12) * 4);
  width: calc((100% / 12) * 4);
}

/* line 113, ../sass/_grid.scss */
.col-5 {
  width: -webkit-calc((100% / 12) * 5);
  width: -moz-calc((100% / 12) * 5);
  width: calc((100% / 12) * 5);
}

/* line 118, ../sass/_grid.scss */
.col-6 {
  width: -webkit-calc((100% / 12) * 6);
  width: -moz-calc((100% / 12) * 6);
  width: calc((100% / 12) * 6);
}

/* line 123, ../sass/_grid.scss */
.col-7 {
  width: -webkit-calc((100% / 12) * 7);
  width: -moz-calc((100% / 12) * 7);
  width: calc((100% / 12) * 7);
}

/* line 128, ../sass/_grid.scss */
.col-8 {
  width: -webkit-calc((100% / 12) * 8);
  width: -moz-calc((100% / 12) * 8);
  width: calc((100% / 12) * 8);
}

/* line 133, ../sass/_grid.scss */
.col-9 {
  width: -webkit-calc((100% / 12) * 9);
  width: -moz-calc((100% / 12) * 9);
  width: calc((100% / 12) * 9);
}

/* line 138, ../sass/_grid.scss */
.col-10 {
  width: -webkit-calc((100% / 12) * 10);
  width: -moz-calc((100% / 12) * 10);
  width: calc((100% / 12) * 10);
}

/* line 143, ../sass/_grid.scss */
.col-11 {
  width: -webkit-calc((100% / 12) * 11);
  width: -moz-calc((100% / 12) * 11);
  width: calc((100% / 12) * 11);
}

/* line 148, ../sass/_grid.scss */
.col-12 {
  width: -webkit-calc((100% / 12) * 12);
  width: -moz-calc((100% / 12) * 12);
  width: calc((100% / 12) * 12);
}

/* with gutter */
/* line 154, ../sass/_grid.scss */
.col-1-g {
  width: -webkit-calc((((100% + 2%) / 12) * 1) - 2%);
  width: -moz-calc((((100% + 2%) / 12) * 1) - 2%);
  width: calc((((100% + 2%) / 12) * 1) - 2%);
}

/* line 159, ../sass/_grid.scss */
.col-2-g {
  width: -webkit-calc((((100% + 2%) / 12) * 2) - 2%);
  width: -moz-calc((((100% + 2%) / 12) * 2) - 2%);
  width: calc((((100% + 2%) / 12) * 2) - 2%);
}

/* line 164, ../sass/_grid.scss */
.col-3-g {
  width: -webkit-calc((((100% + 2%) / 12) * 3) - 2%);
  width: -moz-calc((((100% + 2%) / 12) * 3) - 2%);
  width: calc((((100% + 2%) / 12) * 3) - 2%);
}

/* line 169, ../sass/_grid.scss */
.col-4-g {
  width: -webkit-calc((((100% + 2%) / 12) * 4) - 2%);
  width: -moz-calc((((100% + 2%) / 12) * 4) - 2%);
  width: calc((((100% + 2%) / 12) * 4) - 2%);
}

/* line 174, ../sass/_grid.scss */
.col-5-g {
  width: -webkit-calc((((100% + 2%) / 12) * 5) - 2%);
  width: -moz-calc((((100% + 2%) / 12) * 5) - 2%);
  width: calc((((100% + 2%) / 12) * 5) - 2%);
}

/* line 179, ../sass/_grid.scss */
.col-6-g {
  width: -webkit-calc((((100% + 2%) / 12) * 6) - 2%);
  width: -moz-calc((((100% + 2%) / 12) * 6) - 2%);
  width: calc((((100% + 2%) / 12) * 6) - 2%);
}

/* line 184, ../sass/_grid.scss */
.col-7-g {
  width: -webkit-calc((((100% + 2%) / 12) * 7) - 2%);
  width: -moz-calc((((100% + 2%) / 12) * 7) - 2%);
  width: calc((((100% + 2%) / 12) * 7) - 2%);
}

/* line 189, ../sass/_grid.scss */
.col-8-g {
  width: -webkit-calc((((100% + 2%) / 12) * 8) - 2%);
  width: -moz-calc((((100% + 2%) / 12) * 8) - 2%);
  width: calc((((100% + 2%) / 12) * 8) - 2%);
}

/* line 194, ../sass/_grid.scss */
.col-9-g {
  width: -webkit-calc((((100% + 2%) / 12) * 9) - 2%);
  width: -moz-calc((((100% + 2%) / 12) * 9) - 2%);
  width: calc((((100% + 2%) / 12) * 9) - 2%);
}

/* line 199, ../sass/_grid.scss */
.col-10-g {
  width: -webkit-calc((((100% + 2%) / 12) * 10) - 2%);
  width: -moz-calc((((100% + 2%) / 12) * 10) - 2%);
  width: calc((((100% + 2%) / 12) * 10) - 2%);
}

/* line 204, ../sass/_grid.scss */
.col-11-g {
  width: -webkit-calc((((100% + 2%) / 12) * 11) - 2%);
  width: -moz-calc((((100% + 2%) / 12) * 11) - 2%);
  width: calc((((100% + 2%) / 12) * 11) - 2%);
}

/* line 209, ../sass/_grid.scss */
.col-12-g {
  width: -webkit-calc((((100% + 2%) / 12) * 12) - 2%);
  width: -moz-calc((((100% + 2%) / 12) * 12) - 2%);
  width: calc((((100% + 2%) / 12) * 12) - 2%);
}

/* line 225, ../sass/_grid.scss */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  -ms-border-radius: 4;
  -o-border-radius: 4;
  border-radius: 4;
  margin-bottom: 2%;
  margin-top: 2%;
}

/* line 244, ../sass/_grid.scss */
.col-1-g,
.col-2-g,
.col-3-g,
.col-4-g,
.col-5-g,
.col-6-g,
.col-7-g,
.col-8-g,
.col-9-g,
.col-10-g,
.col-11-g,
.col-12-g {
  float: left;
  display: inline;
  margin-right: -moz-calc(1%);
  margin-right: -webkit-calc(1%);
  margin-right: calc(1%);
  margin-left: -moz-calc(1%);
  margin-left: -webkit-calc(1%);
  margin-left: calc(1%);
  padding: 1em;
  /* background: rgba(255,255,255,.3); */
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  -ms-border-radius: 4;
  -o-border-radius: 4;
  border-radius: 4;
  margin-bottom: 2%;
  margin-top: 2%;
  border: 1px solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Offsets */
/* .off-1 { margin-left: webkit-grid-width(1,true); }
.off-2 { margin-left: webkit-grid-width(2,true); }
.off-3 { margin-left: webkit-grid-width(3,true); }
.off-4 { margin-left: webkit-grid-width(4,true); }
.off-5 { margin-left: webkit-grid-width(5,true); }
.off-6 { margin-left: webkit-grid-width(6,true); }
.off-7 { margin-left: webkit-grid-width(7,true); }
.off-8 { margin-left: webkit-grid-width(8,true); }
.off-9 { margin-left: webkit-grid-width(9,true); }
.off-10 { margin-left: webkit-grid-width(10,true); }
.off-11 { margin-left: webkit-grid-width(11,true); }
.off-12 { margin-left: webkit-grid-width(12,true); }
 */
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* .container                                  { width: 768px; }
  .container .column,
  .container .columns                         { margin-left: 10px; margin-right: 10px;  }
  .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
  .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
  .alpha.omega                                { margin-left: 0; margin-right: 0; }

  .container .one.column,
  .container .one.columns                     { width: 28px; }
  .container .two.columns                     { width: 76px; }
  .container .three.columns                   { width: 124px; }
  .container .four.columns                    { width: 172px; }
  .container .five.columns                    { width: 220px; }
  .container .six.columns                     { width: 268px; }
  .container .seven.columns                   { width: 316px; }
  .container .eight.columns                   { width: 364px; }
  .container .nine.columns                    { width: 412px; }
  .container .ten.columns                     { width: 460px; }
  .container .eleven.columns                  { width: 508px; }
  .container .twelve.columns                  { width: 556px; }
  .container .thirteen.columns                { width: 604px; }
  .container .fourteen.columns                { width: 652px; }
  .container .fifteen.columns                 { width: 700px; }
  .container .sixteen.columns                 { width: 748px; }

  .container .one-third.column                { width: 236px; }
  .container .two-thirds.column               { width: 492px; }

  /* Offsets */
  /*
  .container .offset-by-one                   { padding-left: 48px; }
  .container .offset-by-two                   { padding-left: 96px; }
  .container .offset-by-three                 { padding-left: 144px; }
  .container .offset-by-four                  { padding-left: 192px; }
  .container .offset-by-five                  { padding-left: 240px; }
  .container .offset-by-six                   { padding-left: 288px; }
  .container .offset-by-seven                 { padding-left: 336px; }
  .container .offset-by-eight                 { padding-left: 384px; }
  .container .offset-by-nine                  { padding-left: 432px; }
  .container .offset-by-ten                   { padding-left: 480px; }
  .container .offset-by-eleven                { padding-left: 528px; }
  .container .offset-by-twelve                { padding-left: 576px; }
  .container .offset-by-thirteen              { padding-left: 624px; }
  .container .offset-by-fourteen              { padding-left: 672px; }
  .container .offset-by-fifteen               { padding-left: 720px; } */
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  /* .container { width: 300px; } */
  /* line 358, ../sass/_grid.scss */
  .col-1-g,
  .col-2-g,
  .col-3-g,
  .col-4-g,
  .col-5-g,
  .col-6-g,
  .col-7-g,
  .col-8-g,
  .col-9-g,
  .col-10-g,
  .col-11-g,
  .col-12-g,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: -webkit-calc((((100% + 2%) / 12) * 12) - 2%);
    width: -moz-calc((((100% + 2%) / 12) * 12) - 2%);
    width: calc((((100% + 2%) / 12) * 12) - 2%);
  }

  /* Offsets */
  /* .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen { padding-left: 0; } */
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
/* @media only screen and (min-width: 480px) and (max-width: 767px) {
  .container { width: 420px; }
  .container .columns,
  .container .column { margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column { width: 420px; }
} */
/* #Clearing
================================================== */
/* Self Clearing Goodness */
/* line 419, ../sass/_grid.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
/* line 426, ../sass/_grid.scss */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 434, ../sass/_grid.scss */
.row:after,
.clearfix:after {
  clear: both;
}

/* line 437, ../sass/_grid.scss */
.row,
.clearfix {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
/* line 441, ../sass/_grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*
* ---------------------
* Typesettings
* ---------------------
* A Sass toolkit that sets type in Ems based on modular scale, vertical rhythm, and responsive ratio based headlines.
* Oh, and pixel borders that maintain rhythm.
*
* Release Versions: https://github.com/ianrose/typesettings/releases
* Github: https://github.com/ianrose/typesettings
* License: The MIT License (MIT)
*
* Inspired by and used stuff from:
* https://github.com/typeplate/typeplate.github.io
* https://github.com/csswizardry/typecsset
*/
/* line 135, ../sass/_typesettings.scss */
html {
  font-size: 100%;
}

/* line 139, ../sass/_typesettings.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Quattrocento Sans", "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
}

/* line 148, ../sass/_typesettings.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6, .h6, .h5, h6, .h6 {
  margin-top: 0;
  padding: 0 auto;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 161, ../sass/_typesettings.scss */
h1, .h1 {
  margin-bottom: 0.75023em;
  font-size: 1.9994em;
  line-height: 1.12534;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 43.75em) {
  /* line 161, ../sass/_typesettings.scss */
  h1, .h1 {
    margin-bottom: 0.53057em;
    font-size: 2.82715em;
    line-height: 1.06114;
  }
}
@media (min-width: 56.25em) {
  /* line 161, ../sass/_typesettings.scss */
  h1, .h1 {
    margin-bottom: 0.37523em;
    font-size: 3.99758em;
    line-height: 0.93807;
  }
}

/* line 179, ../sass/_typesettings.scss */
h2, .h2 {
  margin-bottom: 1.06082em;
  font-size: 1.414em;
  line-height: 1.32603;
  font-weight: 400;
}
@media (min-width: 43.75em) {
  /* line 179, ../sass/_typesettings.scss */
  h2, .h2 {
    margin-bottom: 0.75023em;
    font-size: 1.9994em;
    line-height: 1.12534;
  }
}
@media (min-width: 56.25em) {
  /* line 179, ../sass/_typesettings.scss */
  h2, .h2 {
    margin-bottom: 0.53057em;
    font-size: 2.82715em;
    line-height: 1.06114;
  }
}

/* line 195, ../sass/_typesettings.scss */
h3, .h3 {
  margin-bottom: 1.06082em;
  font-size: 1.414em;
  line-height: 1.32603;
  font-weight: 600;
}
@media (min-width: 56.25em) {
  /* line 195, ../sass/_typesettings.scss */
  h3, .h3 {
    margin-bottom: 0.75023em;
    font-size: 1.9994em;
    line-height: 1.12534;
  }
}

/* line 206, ../sass/_typesettings.scss */
h4, .h4 {
  margin-bottom: 1.06082em;
  font-size: 1.414em;
  line-height: 1.32603;
  font-weight: 700;
}

/* line 212, ../sass/_typesettings.scss */
h5, h6, .h6, .h5 {
  margin-bottom: 1.5em;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 900;
}

/* line 222, ../sass/_typesettings.scss */
p {
  margin-top: 0;
  padding: 0 auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  max-width: 36em;
  margin: 0 2%;
  margin-bottom: 1.5em;
}
@media (min-width: 43.75em) {
  /* line 222, ../sass/_typesettings.scss */
  p {
    text-align: justify;
  }
}

/* @if $paragraph-indent {
  p + p {
    margin-top: emRhythm(-4);
    text-indent: emRhythm(4);
  }
}
 */
/* line 249, ../sass/_typesettings.scss */
small, .font-small {
  font-size: 0.70721em;
  line-height: 1.59075;
}

/* line 253, ../sass/_typesettings.scss */
em {
  font-style: italic;
}

/* line 257, ../sass/_typesettings.scss */
strong {
  font-weight: bold;
}

/* line 261, ../sass/_typesettings.scss */
blockquote {
  padding: 0 auto;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 1.5em;
  margin-left: -1.875em;
  border-left: 6px solid gray;
}
/* line 273, ../sass/_typesettings.scss */
blockquote footer cite:before {
  content: " – ";
}

/* line 280, ../sass/_typesettings.scss */
pre, code {
  font-family: "Lucida Console", Monaco, monospace;
}

/* line 284, ../sass/_typesettings.scss */
time, .time {
  text-transform: uppercase;
}

/* line 288, ../sass/_typesettings.scss */
ol, ul {
  margin-top: 0;
  padding: 0 auto;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 295, ../sass/_typesettings.scss */
ul {
  list-style: disc;
}
/* line 298, ../sass/_typesettings.scss */
ul ul {
  margin-bottom: 0;
}

/* line 305, ../sass/_typesettings.scss */
ol ol {
  margin-bottom: 0;
}

/* line 310, ../sass/_typesettings.scss */
ol {
  list-style: decimal;
}

/* line 314, ../sass/_typesettings.scss */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
}

/* line 320, ../sass/_typesettings.scss */
abbr[title]:hover {
  cursor: help;
}

/* Entypo font declaration */
@font-face {
  font-family: 'EntypoSocialRegular';
  src: url("font/entypo-social.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 9, ../sass/_entypo-font.scss */
.entypo-social {
  font-family: 'EntypoSocialRegular';
  font-size: 2em;
  font-weight: normal;
  line-height: 0;
}

/* line 16, ../sass/_entypo-font.scss */
.entypo-social.github:before {
  content: '\F300';
}

/* line 17, ../sass/_entypo-font.scss */
.entypo-social.c-github:before {
  content: '\F301';
}

/* line 18, ../sass/_entypo-font.scss */
.entypo-social.flickr:before {
  content: '\F303';
}

/* line 19, ../sass/_entypo-font.scss */
.entypo-social.c-flickr:before {
  content: '\F304';
}

/* line 20, ../sass/_entypo-font.scss */
.entypo-social.vimeo:before {
  content: '\F306';
}

/* line 21, ../sass/_entypo-font.scss */
.entypo-social.c-vimeo:before {
  content: '\F307';
}

/* line 22, ../sass/_entypo-font.scss */
.entypo-social.twitter:before {
  content: '\F309';
}

/* line 23, ../sass/_entypo-font.scss */
.entypo-social.c-twitter:before {
  content: '\F30A';
}

/* line 24, ../sass/_entypo-font.scss */
.entypo-social.facebook:before {
  content: '\F30C';
}

/* line 25, ../sass/_entypo-font.scss */
.entypo-social.c-facebook:before {
  content: '\F30D';
}

/* line 26, ../sass/_entypo-font.scss */
.entypo-social.s-facebook:before {
  content: '\F30E';
}

/* line 27, ../sass/_entypo-font.scss */
.entypo-social.gplus:before {
  content: '\F30F';
}

/* line 28, ../sass/_entypo-font.scss */
.entypo-social.c-gplus:before {
  content: '\F310';
}

/* line 29, ../sass/_entypo-font.scss */
.entypo-social.pinterest:before {
  content: '\F312';
}

/* line 30, ../sass/_entypo-font.scss */
.entypo-social.c-pinterest:before {
  content: '\F313';
}

/* line 31, ../sass/_entypo-font.scss */
.entypo-social.tumblr:before {
  content: '\F315';
}

/* line 32, ../sass/_entypo-font.scss */
.entypo-social.c-tumblr:before {
  content: '\F316';
}

/* line 33, ../sass/_entypo-font.scss */
.entypo-social.linkedin:before {
  content: '\F318';
}

/* line 34, ../sass/_entypo-font.scss */
.entypo-social.c-linkedin:before {
  content: '\F319';
}

/* line 35, ../sass/_entypo-font.scss */
.entypo-social.dribbble:before {
  content: '\F31B';
}

/* line 36, ../sass/_entypo-font.scss */
.entypo-social.c-dribbble:before {
  content: '\F31C';
}

/* line 37, ../sass/_entypo-font.scss */
.entypo-social.stumbleupon:before {
  content: '\F31E';
}

/* line 38, ../sass/_entypo-font.scss */
.entypo-social.c-stumbleupon:before {
  content: '\F31F';
}

/* line 39, ../sass/_entypo-font.scss */
.entypo-social.lastfm:before {
  content: '\F321';
}

/* line 40, ../sass/_entypo-font.scss */
.entypo-social.c-lastfm:before {
  content: '\F322';
}

/* line 41, ../sass/_entypo-font.scss */
.entypo-social.rdio:before {
  content: '\F324';
}

/* line 42, ../sass/_entypo-font.scss */
.entypo-social.c-rdio:before {
  content: '\F325';
}

/* line 43, ../sass/_entypo-font.scss */
.entypo-social.spotify:before {
  content: '\F327';
}

/* line 44, ../sass/_entypo-font.scss */
.entypo-social.c-spotify:before {
  content: '\F328';
}

/* line 45, ../sass/_entypo-font.scss */
.entypo-social.qq:before {
  content: '\F32A';
}

/* line 46, ../sass/_entypo-font.scss */
.entypo-social.instagram:before {
  content: '\F32D';
}

/* line 47, ../sass/_entypo-font.scss */
.entypo-social.dropbox:before {
  content: '\F330';
}

/* line 48, ../sass/_entypo-font.scss */
.entypo-social.evernote:before {
  content: '\F333';
}

/* line 49, ../sass/_entypo-font.scss */
.entypo-social.flattr:before {
  content: '\F336';
}

/* line 50, ../sass/_entypo-font.scss */
.entypo-social.skype:before {
  content: '\F339';
}

/* line 51, ../sass/_entypo-font.scss */
.entypo-social.c-skype:before {
  content: '\F33A';
}

/* line 52, ../sass/_entypo-font.scss */
.entypo-social.renren:before {
  content: '\F33C';
}

/* line 53, ../sass/_entypo-font.scss */
.entypo-social.sina-weibo:before {
  content: '\F33F';
}

/* line 54, ../sass/_entypo-font.scss */
.entypo-social.paypal:before {
  content: '\F342';
}

/* line 55, ../sass/_entypo-font.scss */
.entypo-social.picasa:before {
  content: '\F345';
}

/* line 56, ../sass/_entypo-font.scss */
.entypo-social.soundcloud:before {
  content: '\F348';
}

/* line 57, ../sass/_entypo-font.scss */
.entypo-social.mixi:before {
  content: '\F34B';
}

/* line 58, ../sass/_entypo-font.scss */
.entypo-social.behance:before {
  content: '\F34E';
}

/* line 59, ../sass/_entypo-font.scss */
.entypo-social.google-circles:before {
  content: '\F351';
}

/* line 60, ../sass/_entypo-font.scss */
.entypo-social.vk:before {
  content: '\F354';
}

/* line 61, ../sass/_entypo-font.scss */
.entypo-social.smashing:before {
  content: '\F357';
}

/* line 14, ../sass/jp-site.scss */
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: auto;
  background: url(/images/billie-holiday.png), #f2f1ed;
  background-repeat: repeat;
  background-size: 100px 100px;
}

/* line 22, ../sass/jp-site.scss */
p {
  text-align: justify;
  display: block;
  margin: 0 auto 2%;
}

/* line 27, ../sass/jp-site.scss */
.page-wrapper {
  overflow: hidden;
}
/* line 29, ../sass/jp-site.scss */
.page-wrapper.background-home {
  background-image: url(/images/background-jp.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 37, ../sass/jp-site.scss */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* line 41, ../sass/jp-site.scss */
.splash {
  width: 100%;
  overflow: hidden;
  padding: 2% 0;
}

/* =========== HEADER MENU ============= */
/* line 47, ../sass/jp-site.scss */
.logo-link {
  color: #fff;
  padding: 18px;
  display: inline-block;
  font-size: 1.414em;
  line-height: 1.32603;
  font-weight: 300;
  height: 100%;
  border-bottom: 0;
  border-bottom: 1px solid transparent;
}
/* line 56, ../sass/jp-site.scss */
.logo-link:hover, .logo-link:active {
  border-bottom: 0;
  outline: 0;
  text-decoration: none;
}

/* line 63, ../sass/jp-site.scss */
.header-menu ul {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;
  padding: 0;
  display: table;
  margin: 0px;
  width: 100%;
}
/* line 70, ../sass/jp-site.scss */
.header-menu ul li {
  float: left;
  text-align: center;
  font-size: 1.414em;
  line-height: 1.32603;
}
/* line 74, ../sass/jp-site.scss */
.header-menu ul li a {
  color: #fff;
  font-weight: 300;
  height: 100%;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
/* line 93, ../sass/jp-site.scss */
.header-menu ul li a:hover, .header-menu ul li a:active {
  color: #c4dcff;
  border-bottom: 1px solid #c4dcff;
}

/* header presentation styles */
/* line 102, ../sass/jp-site.scss */
.header {
  padding: 15%;
  color: #fff;
}
/* line 106, ../sass/jp-site.scss */
.header .presentation h5, .header .presentation h6, .header .presentation .h6 {
  font-weight: 300;
  text-align: center;
}

/* =========== SOCIAL LINKS ============= */
/* line 114, ../sass/jp-site.scss */
.social {
  background-color: #2e2e2e;
}
/* line 116, ../sass/jp-site.scss */
.social a {
  font-family: 'EntypoSocialRegular';
}

/* =========== FOOTER ============= */
/* line 125, ../sass/jp-site.scss */
footer {
  background-color: #1f1f1f;
}

/* link styles */
/* line 130, ../sass/jp-site.scss */
a {
  text-decoration: none;
  font-weight: 700;
  color: initial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
}
/* line 136, ../sass/jp-site.scss */
a:hover, a :active {
  color: gummi;
  border-bottom: 1px dotted goldenrod;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 144, ../sass/jp-site.scss */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 151, ../sass/jp-site.scss */
section {
  width: 100%;
  overflow: hidden;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 158, ../sass/jp-site.scss */
aside {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: pink;
}

/* line 164, ../sass/jp-site.scss */
footer {
  clear: both;
}
